*.class

# Package Files #
*.jar
*.war
*.ear

out/
build/
.settings/
intellij/
*/intellij/*
.idea/
*/.idea/*
.project
.classpath
.springBeans
*.iml
velocity.log
target/
build/
*/logs/*
*access_log
._*
.*.swp
.DS_Store
*CVS/*
*.svn/*
*/Thumbs.db
*Thumbs.db
*Untitled-*
.gradle/
*.ipr
*.iws
